<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>crawler</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<h1>Hello <%= name %></h1>
<p> <%-list[0].url %> </p>
<p> <%-list[0].price %> </p>
<img> <%-list[0].photo %> <img>
<p> <%-list[0].name %> </p>
<p> <%-list[0].nbrSell %> </p>
<p> <%-list[1].url %> </p>
<p> <%-list[1].price %> </p>
<img> <%-list[1].photo %> <img>
<p> <%-list[1].name %> </p>
<p> <%-list[1].nbrSell %> </p>
<p> <%-list[2].url %> </p>
<p> <%-list[2].price %> </p>
<img> <%-list[2].photo %> <img>
<p> <%-list[2].name %> </p>
<p> <%-list[2].nbrSell %> </p>
<p> <%-list[3].url %> </p>
<p> <%-list[3].price %> </p>
<img> <%-list[3].photo %> <img>
<p> <%-list[3].name %> </p>
<p> <%-list[3].nbrSell %> </p>
<p> <%-list[4].url %> </p>
<p> <%-list[4].price %> </p>
<img> <%-list[4].photo %> <img>
<p> <%-list[4].name %> </p>
<p> <%-list[4].nbrSell %> </p>


</body>
</html>